# Clerk - Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# POSTGRES
DATABASE_URL=

# Interactive Canvas
LIVEBLOCKS_PUBLIC_KEY=
LIVEBLOCKS_SECRET_KEY=

# Blob storage
BLOB_READ_WRITE_TOKEN=

TRIGGER_PROJECT_REF=
TRIGGER_SECRET_KEY=

GOOGLE_GENERATIVE_AI_API_KEY=

# Optional if you don't want to use Google
OPEN_ROUTER_API_KEY=
